:root {
    --charade-background-color: #2D303A;
    --sienna-background-color: #F06C64;
    --сornflower-background-color: #648BF0;

    --sienna-text-color: #F06C64;
    --white-text-color: #Ffffff;
    --storm-text-color: #666D89;
    --lynch-text-color: #767E9E;
    --alto-text-color: #DEDEDE;
}