@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@100;400;500;700&display=swap");
@import url(./reset.css);
@import url(./header.css);
@import url(./section_banner.css);
@import url(./section_socials.css);
@import url(./section_tabs.css);
@import url(./section_about.css);
@import url(./section-pricing.css);

.container {
    max-width: 1170px;
    margin: 0 auto;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* прикольная практика */
